[submodule "catalog"]
	path = catalog
	url = https://github.com/MiSArch/catalog.git
[submodule "wishlist"]
	path = wishlist
	url = https://github.com/MiSArch/wishlist.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/MiSArch/frontend.git
[submodule "inventory"]
	path = inventory
	url = https://github.com/MiSArch/inventory.git
[submodule "shoppingcart"]
	path = shoppingcart
	url = https://github.com/MiSArch/shoppingcart.git
[submodule "gateway"]
	path = gateway
	url = https://github.com/MiSArch/gateway.git
[submodule "notification"]
	path = notification
	url = https://github.com/MiSArch/notification.git
[submodule "user"]
	path = user
	url = https://github.com/MiSArch/user.git
[submodule "keycloak"]
	path = keycloak
	url = https://github.com/MiSArch/keycloak.git
[submodule "tax"]
	path = tax
	url = https://github.com/MiSArch/tax.git
[submodule "review"]
	path = review
	url = https://github.com/MiSArch/review.git
[submodule "address"]
	path = address
	url = https://github.com/MiSArch/address.git
[submodule "shipment"]
	path = shipment
	url = https://github.com/MiSArch/shipment.git
[submodule "discount"]
	path = discount
	url = https://github.com/MiSArch/discount.git
[submodule "order"]
	path = order
	url = https://github.com/MiSArch/order.git
[submodule "return"]
	path = return
	url = https://github.com/MiSArch/return.git
[submodule "payment"]
	path = payment
	url = https://github.com/MiSArch/payment.git
[submodule "simulation"]
	path = simulation
	url = https://github.com/MiSArch/simulation.git
[submodule "media"]
	path = media
	url = https://github.com/MiSArch/media.git
[submodule "experiment-config"]
	path = experiment-config
	url = https://github.com/MiSArch/experiment-config.git
[submodule "invoice"]
	path = invoice
	url = https://github.com/MiSArch/invoice.git
[submodule "experiment-config-sidecar"]
	path = experiment-config-sidecar
	url = https://github.com/MiSArch/experiment-config-sidecar.git
[submodule "experiment-config-frontend"]
	path = experiment-config-frontend
	url = https://github.com/MiSArch/experiment-config-frontend.git
[submodule "experiment-executor-frontend"]
	path = experiment-executor-frontend
	url = https://github.com/MiSArch/experiment-executor-frontend.git
[submodule "experiment-executor"]
	path = experiment-executor
	url = https://github.com/MiSArch/experiment-executor.git
[submodule "gatling-executor"]
	path = gatling-executor
	url = https://github.com/MiSArch/gatling-executor.git
[submodule "chaostoolkit-executor"]
	path = chaostoolkit-executor
	url = https://github.com/MiSArch/chaostoolkit-executor.git
[submodule "testdata"]
	path = testdata
	url = https://github.com/MiSArch/testdata.git
